<!-- Introduction -->
<div class="hero">
	<h1>Find or create a group to share what you like</h1>
	<a href="/auth/register" class="btn btn-amarillo">Create account</a>
</div>

<!-- Search bar -->
<div class="buscador-inicio">
	<div class="contenedor">
		<h2>Find a group in your city</h2>
		<form action="#">
			<select name="category" id="category" class="categoria">
				<option value="" disabled selected>-- Select one --</option>
				<% categories.forEach((category) => { %>
					<option
						value="<%- category.id %>"
					><%- category.name %></option>
				<% }); %>
			</select>
			<input type="text" name="name" id="name" placeholder="Meeti name" />
			<input type="text" name="city" placeholder="City" />
			<input type="text" name="country" placeholder="Country" />
			<input type="submit" value="Search" class="btn btn-rosa" />
		</form>
	</div>
</div>

<div class="contenedor">
	<h2>Upcoming Meeti's</h2>
	<div class="grid columnas-md-3">
		<% if(locals.meetis && locals.meetis.length > 0) { %>
			<% meetis.forEach((meeti) => { %>
				<div class="card">
					<img
						src="/public/uploads/groups/<%- meeti.group.image %>"
						alt="<%- meeti.title %>" />
					<div class="card-texto">
						<% moment.locale("en"); %>
						<% const date = `${meeti.date} ${meeti.time}`; %>
						<p class="fecha"><%= moment(date).format("LLLL"); %></p>
						<a href="/meeti/<%= meeti.slug %>">
							<h3>
								<%= meeti.title %>
							</h3>
						</a>
						<div class="info-autor">
							<div class="imagen">
								<% if(meeti.user.pfp) { %>
									<img
										src="/public/user/<%- meeti.user.id %>/<%- meeti.user.pfp %>"
										alt="<%- meeti.title %> owner profile picture"
									/>
								<% } %>
							</div>
							<div class="informacion">
								<p>Organized by:</p>
								<p class="autor">
									<%= meeti.user.name %>
								</p>
							</div>
						</div>
					</div>
				</div>
			<% }); %>
		<% } else { %>
			<p>
				Sorry, there are no Meeti's
			</p>
		<% } %>
	</div>
</div>

<main class="bg-gris categorias">
	<h2>Find group by categories</h2>
	
	<div class="contenedor">
		<ul class="lista-categorias grid columnas-2 columnas-md-3">
			<% categories.forEach((category) => { %>
				<li>
					<a href="#">
						<img
							src="/public/img/category/<%- category.nameId %>.jpg"
							alt="<%- category.name %>"
						/>
						<p><%- category.name %></p>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
</main>

<!-- Footer -->
<div class="meeti-bg">
	<div class="contenedor meeti grid columnas-md-2">
		<section>
			<h3>Create a group</h3>
			<p>
				Share your passions and what you like with people,
				create your group today free of charge
			</p>
		</section>
		<section>
			<h3>Join a group</h3>
			<p>
				Meet people alike, join a group and receive notifications about upcoming events
			</p>
		</section>
	</div>
</div>
