<main class="contenedor panel-administracion">
	<h1><%= title %></h1>
	
	<div class="contenedor-botones">
		<a href="/user/group/new" class="btn btn-amarillo">
			New group
		</a>
		<a href="/user/meeti/create" class="btn btn-azul">Create Meeti</a>
		
		<!-- User account -->
		<!-- TODO: Create a page that shows user information with these operations on the top -->
		<a href="/user/profile/edit" class="btn btn-rosa">Edit profile</a>
		<a href="/user/password/reset" class="btn btn-verde">Change password</a>
		<a href="/user/profile/image/edit" class="btn btn-amarillo">Change pfp</a>
	</div>
	
	<!-- Future meetis -->
	<div class="seccion-admin">
		<h2>Your future Meeti's</h2>
		<% if(locals.futureMeetis && locals.futureMeetis.length > 0) { %> 
			<ul>
				<% locals.futureMeetis.forEach((meeti) => { %>
					<li>
						<div class="informacion-admin">
							<p class="fecha">
								<% moment.locale("en"); %>
								<% const timeDate = `${meeti.date} ${meeti.time}`; %> 
								<%= moment(timeDate).format("LLLL") %> 
							</p>
							<h3><%= meeti.title %></h3>
							<small><%- meeti.participants.length %> going</small>
						</div>
						<div class="acciones contenedor-bottones">
							<a href="/user/meeti/edit/<%- meeti.id %>" class="btn btn-verde">Edit</a>
							<a
								href="/user/meeti/people/<%- meeti.id %>"
								class="btn btn-azul2"
							>People list</a>
							<a href="/user/meeti/delete/<%- meeti.id %>" class="btn btn-rojo">Delete</a>
						</div>
					</li>
				<% }) %>
			</ul>
		<% } else { %>
			<p>There are no Meeti's in this section</p>
		<% } %> 
	</div>
	
	<!-- User groups -->
	<div class="seccion-admin">
		<h2>Your groups</h2>
		
		<% if(locals.groups) { %>
			<% if(locals.groups.length) { %>
				<ul>
					<% locals.groups.forEach((group) => { %>
						<li>
							<div class="informacion-admin">
								<h3><%= group.name %></h3>
							</div>
							<div class="acciones contenedor-bottones">
								<a href="/user/group/edit/<%= group.id %>" class="btn btn-verde">Edit</a>
								<a href="/user/group/image/<%= group.id %>" class="btn btn-azul2">Image</a>
								<a href="/user/group/delete/<%= group.id %>" class="btn btn-rojo">Delete</a>
							</div>
						</li>
					<% }) %>
				</ul>
			<% } else { %>
				<div>
					<p style="display:inline;">You don't have any groups, 
					</p>
					<a href="/user/group/new" style="display: inline;">
						create one
					</a>
				</div>
			<% } %> 
		<% } %> 
	</div>
	
	<!-- Past meetis -->
	<div class="seccion-admin">
		<h2>Your past Meeti's</h2>
		<% if(locals.pastMeetis && locals.pastMeetis.length > 0) { %> 
			<ul>
				<% locals.pastMeetis.forEach((meeti) => { %>
					<li>
						<div class="informacion-admin">
							<p class="fecha">
								<% moment.locale("en"); %>
								<% const timeDate = `${meeti.date} ${meeti.time}`; %> 
								<%= moment(timeDate).format("LLLL") %> 
							</p>
							<h3><%= meeti.title %></h3>
							<small><%- meeti.participants.length %> going</small>
						</div>
						<div class="acciones contenedor-bottones">
							<a href="/user/meeti/edit/<%- meeti.id %>" class="btn btn-verde">Edit</a>
							<a
								href="/user/meeti/people/<%- meeti.id %>"
								class="btn btn-azul2"
							>People list</a>
							<a href="/user/meeti/delete/<%- meeti.id %>" class="btn btn-rojo">Delete</a>
						</div>
					</li>
				<% }) %>
			</ul>
		<% } else { %>
			<p>There are no Meeti's in this section</p>
		<% } %> 
	</div>
</main>
