<link rel="stylesheet" href="/public/package/leaflet@1.9.4/dist/leaflet.css">
<link rel="stylesheet" href="/public/css/meeti/index.css" />
<link rel="stylesheet" href="/public/css/comment.css" />

<div class="eventHeader">
	<div class="contenedor">
		<div class="eventSummary">
			<h1><%= meeti.title %></h1>
			<div class="infoAuthor">
				<div class="image">
					<% if(meeti.user.pfp) { %>
						<img
							src="/public/user/<%- meeti.user.id %>/<%- meeti.user.pfp %>"
							alt="User profile picture"
						/>
					<% } %>
				</div>
				<div class="information">
					<p>By:</p>
					<p class="author">
						<a href="/user-profile/<%- meeti.user.id %>"><%= meeti.user.name %></a> creator of:
						<a href="/group/<%- meeti.group.id %>"><%= meeti.group.name %></a>
					</p>
				</div>
			</div>
		</div>
		
		<div class="participate">
			<% if(locals.user) { %>
				<form action="/user/participate" id="participateForm">
					<p>Will you participate?</p>
					<input type="hidden" value="<%- meeti.id %>" name="meetiId" />
					<input
						type="hidden"
						value="<%- userParticipates ? "yes" : "no" %>"
						name="participate"
						id="participate"
					/>
					<input
						type="button"
						class="btn <%- userParticipates ? "btn-rojo" : "btn-azul" %>"
						id="participateButton"
						value="<%- userParticipates ? "Cancel" : "Participate" %>"
					/>
				</form>
			<% } else { %>
				<p>
					Log in to participate in this Meeti
				</p>
			<% } %>
		</div>
	</div>
</div>

<main class="eventContainer">
	<div class="contenedor">
		<div class="eventInformation">
			<div class="descripcion">
				<% if(meeti.group.image) { %>
					<img
						src="/public/uploads/groups/<%- meeti.group.image %>"
						alt="Meeti image"
					/>
				<% } %>
				
				<%- meeti.description %>
			</div>
			
			<div class="asistentes">
				<div class="titulo">
					<h3><%- meeti.participants.length %> Participants</h3>
					<a href="/meeti/participants/<%- meeti.slug %>">See list</a>
				</div>
			</div>
			
			<div class="comentarios">
				<h2>Comments</h2>
				<% if(comments.length > 0) { %>
					<% comments.forEach((comment) => { %>
						<div class="comment">
							<div class="image">
								<% if(comment.user.pfp) { %>
									<img
										src="/public/user/<%- comment.user.id %>/<%= comment.user.pfp %>"
										alt="User <%= comment.user.name %> profile picture"
									/>
								<% } %>
							</div>
							<div class="text">
								<p><%= comment.message %></p>
								<p>
									Written by:
									<a
										href="/users/<%= comment.user.id %>"
									><%= comment.user.name %></a>
								</p>
								<% if(meeti.userId === user.id || comment.user.id === user.id) { %>
									<form
										action="/user/meeti/comment/delete/<%- comment.id %>"
										class="eliminar-comentario"
									>
										<input
											type="hidden"
											name="commentId"
											id="commentId"
											value="<%- comment.id %>"
										/>
										<input type="submit" value="Delete" class="btn btn-rojo"/>
									</form>
								<% } %>
							</div>
						</div>
					<% }); %>
				<% } else { %>
					<p>There are no comments for this Meeti</p>
				<% } %>
				
				<% if(locals.user) { %>
					<form
						action="/user/meeti/comment/<%- meeti.id %>"
						method="POST"
						class="default-form comentarios"
					>
						<legend>Create comment</legend>
						<div class="campo">
							<label for="comment">Comment</label>
							<textarea name="comment" id="comment" placeholder="Comment"></textarea>
						</div>
						<div class="campo enviar">
							<input type="submit" value="Create comment" class="btn btn-rosa" />
						</div>
					</form>
				<% } else { %>
					<p>You are not authenticated, please authenticate to create a comment.</p>
				<% } %>
			</div>
		</div>
		
		<% moment.locale("en"); %>
		<aside class="information">
			<div class="date">
				<p>
					<% moment.locale("en"); %>
					<p><%= moment(`${meeti.date} ${meeti.time}`).format("LLLL"); %></p>
				</p>
			</div>
			<div class="location">
				<p>
					<%= meeti.address.street %>,
					<%= meeti.address.city %>,
					<%= meeti.address.state %>,
					<%= meeti.address.country %>
				</p>
			</div>
			
			<input type="hidden" id="latitude" value="<%- meeti.address.latitude %>" />
			<input type="hidden" id="longitude" value="<%- meeti.address.longitude %>" />
			
			<div class="ubicacion-meeti" id="map">
			</div>
		</aside>
	</div>
</main>

<script src="/public/js/routes/meeti/index.js"></script>
